{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action= "" method="post">
	<p>
		<label for="login">Your LOGIN:</label>
		<input type="text" name="login">
	</p>
	<p>
		<label for="password">Your PASSWORD:</label>
		<input type="text" name="password">
	</p>
	<p>
		<input type="submit">
	</p>
</form>
{% endblock %}