{% extends 'base.html' %}

{% block welcome %}
<a href="/logout">LOGOUT</a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}

{% block content%}

<h2>Other's messages:</h2>
{% if all_messages %}
    {% for message in all_messages %}
        {{ message }}<br>
    {% endfor %}
{% else %}
Here's nothing yet...
{% endif %}

<br>

<form action="" method="POST">
    <p>
        <label for="message">Type your message here:</label>
        <input type="text" name="message">
        <a href="messages"><input type="submit" name="send_message"></a>
    </p>

</form>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href={{ previuos }} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href={{ next }} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


{% endblock %}