{% extends 'base.html' %}

{% block welcome %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% endblock %}

{% block content%}

<h2>Other's messages:</h2>
{% if all_messages %}
    {% for message in all_messages %}
        {{ message }}<br>
    {% endfor %}
{% else %}
Here's nothing yet...
{% endif %}

<br>

<form action="" method="POST">
    <p>
        <label for="message">Type your message here:</label>
        <input type="text" name="message">
        <input type="submit" name="send_message">
    </p>

</form>

{% endblock %}